# Analysis of Anscombes Quartet

In this Jupyter Notebook I will analyse Anscombe’s quartet dataset. In this Notebook I will carry out following four tasks:

1. I will explain the background to the dataset. 
2. I will plot interesting aspects of the dataset. 
3. I will calculate the descriptive statistics of the variables in the dataset. 
4. I will Explain why the dataset is interesting, referring to the plots and statistics above.

### 1. Background information of the dataset.

Anscombe’s Quartet dataset was created by Francis Anscombe in 1973 for his classic paper "Graphs in Statistical Analysis". The dataset compromises of four datasets that have identical (to two decimal places) linear regression coefficients, each of the datasets in the quartet consists of 11 (x,y) points. All datasets appear similar when examined using simple summary statistics, but vary considerably when graphed.
Anscombe created the dataset to demonstrate the effect that outliers can have on a statistical findings of a dataset and the importance of visualizing data before analyzing it.

Still to research:
 and any speculation you can ﬁnd regarding how it might have been created.
Perhaps inclde below its already referenced: 
 "You can see a lot by looking" - Yogi Berra (Yogi! On statistics!)

#### Libraries

In [7]:
import sklearn.neighbors as nel
import pandas as pd #import pandas
import seaborn as sbn
import matplotlib.pyplot as plt

#### Dataset

In [8]:
#Im uploading the Dataset using URL
df = pd.read_csv("https://raw.githubusercontent.com/MartynaMisk/AnscombesQuartet/master/data.csv")

In [20]:
df

    x1  x2  x3  x4     y1    y2     y3     y4
0   10  10  10   8   8.04  9.14   7.46   6.58
1    8   8   8   8   6.95  8.14   6.77   5.76
2   13  13  13   8   7.58  8.74  12.74   7.71
3    9   9   9   8   8.81  8.77   7.11   8.84
4   11  11  11   8   8.33  9.26   7.81   8.47
5   14  14  14   8   9.96  8.10   8.84   7.04
6    6   6   6   8   7.24  6.13   6.08   5.25
7    4   4   4  19   4.26  3.10   5.39  12.50
8   12  12  12   8  10.84  9.13   8.15   5.56
9    7   7   7   8   4.82  7.26   6.42   7.91
10   5   5   5   8   5.68  4.74   5.73   6.89

### 2. Interesting aspects of the Dataset

I will investigate to ensure following data is evident in this notebook:   
1. The average x value is 9 for each dataset
2. The average y value is 7.50 for each dataset
3. The variance for x is 11 
4. The variance for y is 4.12
5. The correlation between x and y is 0.816 for each dataset
6. A linear regression (line of best fit) for each dataset follows the equation y = 0.5x + 3

The purpose of demonstarting this data is to understand and showcase Ansconmbe's four datasets have the same statistical properties but do differ especially thorugh visualization on which I will focus later in this notebook.

In [9]:
df['y1'] #interesting feature with which it is easier to target a spcific column to have a closer look

0      8.04
1      6.95
2      7.58
3      8.81
4      8.33
5      9.96
6      7.24
7      4.26
8     10.84
9      4.82
10     5.68
Name: y1, dtype: float64

#### 2.1 To calculate mean of x

In [10]:
#To calculate the mean of x
#Both x1 column has the mean which is 9 aswell as below x2 column mean which is also 9. 
#This is one of the evidence that statistical properties are teh same for each dataset.
df['x1'].mean()

9.0

Column x1, x2 and x3 have identical numbers, however column x4 contains different numbers. As I already know from researching the dataset the mean for column x4 should also be 9. I will check it now:

In [30]:
df['x4'].mean() 
#the mean is 9.

9.0

#### 2.2 To calculate mean of y

In [33]:
#To calculate the mean of y I will use the same code as above but instead of x now we are analyzing the mean of y.
#The output should be 7.5 for each y column.
df['y1'].mean()

7.500909090909093

In [22]:
#y2 column has the same mean as y1 column.
df['y2'].mean()

7.500909090909091

In [31]:
#y3 column has the same mean as y1 column.
df['y3'].mean()

7.500000000000001

In [32]:
#y4 column has the same mean as y1 column.
df['y4'].mean()

7.50090909090909

#### 2.3 To calculate variance of x. 
[Variance](https://en.wikipedia.org/wiki/Variance) is the expected deviation of random variables from its mean. This statistical property equls 11 for each column of x variance. However, later we will see that even though the varinace is 11 the datasets will not look the same.

In [25]:
#Variance of x1.
df['x1'].var()

11.0

In [28]:
#Variance of x4 is also 11.
df['x4'].var()

11.0

I have not peformed the calculation for every x column as x1, x2 and x3 are identical and will have the same output so I decided to have the output of x1 and x4.

#### 2.4 To calculate variance of y

In [23]:
#Variance of y1.
df['y1'].var()

4.127269090909091

In [24]:
#Variance of y2 is also 4.12.
df['y2'].var()

4.127629090909091

In [26]:
#Variance of y3 is also 4.12.
df['y3'].var()

4.12262

In [27]:
#Variance of y4 is also 4.12.
df['y4'].var()

4.12324909090909

#### 2.5 The correlation between x and y

[Correlation](https://en.wikipedia.org/wiki/Correlation_and_dependence) calculates how close variables are to having a linear relationship.

#### 2.6 A linear regression (line of best fit) for each dataset

References:
1. Wikipedia https://en.wikipedia.org/wiki/Anscombe%27s_quartet 
2. Real life example of using the dataset https://heapanalytics.com/blog/data-stories/anscombes-quartet-and-why-summary-statistics-dont-tell-the-whole-story 
3. Yogi Berra quote https://en.wikiquote.org/wiki/Yogi_Berra 
4. Explanation of variance https://en.wikipedia.org/wiki/Variance 
5. Explantion of correlation https://en.wikipedia.org/wiki/Correlation_and_dependence